.item {
  display: block;
  position: absolute;
  opacity: 1;
  background-repeat: no-repeat;
  background-image: url("../img/items.png");

  &__apple {
    background-position: -2.3px -2.3px;
    background-size: 607.2px;
    width: 46px;
    height: 48px;
    top: 312px;
    left: 594px;
    filter: brightness(0.65) contrast(0.86) saturate(.75); 
  }

  &__basket {
    background-position: -166.5px -3.6px;
    background-size: 976.8px;
    width: 74px;
    height: 78px;
    top: 292px;
    left: 470px;
    z-index: 0;
  }

  &__balerina {
    background-size: 897.6px;
    background-position: -78.2px -3px;
    width: 68px;
    height: 114px;
    top: 258px;
    left: 512px;
    z-index: 1;
  }

  &__book {
    background-size: 1056px;
    background-position: -268px -4px;
    width: 80px;
    height: 48px;
    top: 380px;
    left: 656px;
    transform: rotate(-5deg);
    filter: brightness(.7) saturate(.9);
  }

  &__comb {
    background-size: 686.4px;
    background-position: -231.4px -2.6px;
    width: 52px;
    height: 44px;
    top: 294px;
    left: 884px;
    transform: rotate(28deg);
  }

  &__fan {
    background-size: 1082.4px;
    background-position: -455.1px -3.1px;
    width: 82px;
    height: 44px;
    top: 324px;
    transform: rotate(-136deg);
    left: 276px;
    filter: brightness(.55) saturate(.75);
  }

  &__glass_bird {
     background-size: 1082.4px;
     background-position: -545.3px -4.1px;
     width: 82px;
     height: 76px;
     top: 130px;
     left: 192px;
  }

  &__mirror {
    background-size: 792px;
    background-position: -465px -3px;
    width: 60px;
    height: 96px;
    top: 228px;
    left: 106px;
  }

  &__parfume {
    background-size: 686.4px;
    background-position: -460.2px -2.6px;
    width: 52px;
    height: 66px;
    top: 380px;
    left: 254px; 
  }

  &__playing_card {
    background-size: 686.4px;
    background-position: -517.4px -2.6px;
    width: 52px;
    height: 84px;
    top: 324px;
    left: 830px;
    transform: rotate(-44.5deg);
    filter: brightness(.85);
  }

  &__purse {
    background-size: 897.6px;
    background-position: -751.4px -3.4px;
    width: 68px;
    height: 72px;
    top: 380px;
    left: 204px;  
    opacity: 1;
  }

  &__shoe {
    background-size: 1161.6px;
    background-position: -1069.2px -5px;
    width: 88px;
    height: 58px;
    transform: scale(-1, 1) rotate(4deg);
    top: 486px;
    left: 502px;
    filter: brightness(.8) saturate(.9);
  }
}