body {
	background: rgba(15,0,10, 1);
	position: relative;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	width: 100vw;
	height: 100vh;
}

.wrapper {
	background: url("../img/bg_ho.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 960px;
	height: 640px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 16px;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
}

.task {
	width: 304px;
	height: 128px;
	background-image: url("../img/Tutorial1.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 42px 40px 0px 40px;
	box-sizing: border-box;
	text-align: center;
	margin: auto;

	span {
		font-family: 'Arbutus Slab', serif;
		display: block;
		color: #460000;
		font-size: 22px;
		line-height: 30px;
		text-transform: uppercase;
		animation: pulse 2s infinite;
	}
}

.panel {
	background-image: url('../img/ho_gui.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 644px;
	height: 96px;
	padding: 46px 60px 0px 60px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;

	span {
		font-family: 'Berkshire Swash', cursive;
		font-size: 24px;
		color: #460000;
		position: relative;
	}
}

.crossed-out {
	&::before {
		display: block;
		position: absolute;
		top: 25%;
		left: -5%;
		content: '';
		width: 110%;
		height: 4px;
		background: #460000;
	}
}

.bg-cover {
	background-image: url("../img/bg_cover.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}