.end {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/bg_blur.jpg") no-repeat;
	background-size: cover;
	z-index: 10;
	top: 0;
	left: 0;
	transition: 1s all ease;

	&__showed {
		visibility: visible;
		opacity: 1;
	}
}

.logo {
	position: absolute;
	width: 526px;
	height: 258px;
	background: url("../img/logo.png") no-repeat;
	background-size: cover;
	left: 0;
	right: 0;
	margin: auto;
	top: 62px;
}

.button {
	display: block;
	position: absolute;
	width: 276px;
	height: 70px;
	background: url("../img/button.png") no-repeat;
	background-size: cover;
	padding-top: 16px;
	box-sizing: border-box;
	left: 0;
	right: 0;
	margin: auto;
	top: 322px;
	text-transform: uppercase;
	text-decoration: none;
	color: #0d2900;
	font-family: 'Arbutus Slab', serif;
	font-size: 28px;
	text-align: center;
	.illumination-button;
}