.preloader {
	position: absolute;
	width: 960px;
	height: 640px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #e8e4d5;
	background-image: url("../img/bg_blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 16px;
	box-sizing: border-box;
	z-index: 10;
	visibility: visible;
	opacity: 1;
	transition: all 1s ease;

	&__ready {
		visibility: hidden;
		opacity: 0;
	}
}

.loading {
	z-index: 15;
	width: 304px;
	height: 128px;
	background-image: url("../img/Tutorial1.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 58px 40px 0px 40px;
	box-sizing: border-box;
	text-align: center;
	margin: auto;

	span {
		font-family: 'Arbutus Slab', serif;
		display: block;
		color: #460000;
		font-size: 28px;
		line-height: 29.1px;
		text-transform: uppercase;
	}
}